<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      Direct Whatsapp Message
    </mat-toolbar>
    <br>
    <div class="center">
      <mat-card style="width: 250px">
        <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
          <p>
            <mat-form-field class="full-width" appearance="legacy" [floatLabel]="profileForm.value.name">
              <mat-label>Nome:</mat-label>
              <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width" appearance="legacy" [floatLabel]="profileForm.value.tel">
              <mat-label>Telefone:</mat-label>
              <input matInput placeholder="Telefone" type="number" formControlName="tel" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width" appearance="legacy" [floatLabel]="profileForm.value.message">
              <mat-label>Mensagem</mat-label>
              <textarea matInput placeholder="Mensagem" formControlName="message"></textarea>
            </mat-form-field>
          </p>
          <button mat-stroked-button type="submit">Enviar</button>
        </form>
      </mat-card>
    </div>
    <br>
    <mat-divider></mat-divider>
    <div *ngIf="userHistoryData && userHistoryData.length > 0">
      <br>
      <a href="#" (click)="clearHistory()">Limpar Histórico</a>
      <br>
      <ul>
        <li *ngFor="let user of userHistoryData">
          <h2>{{user.name}}</h2>
          <p>{{user.whatsappNumber}} - {{user.date}}</p>
          <a href="https://api.whatsapp.com/send/?phone={{user.whatsappNumber}}&text=''&app_absent=0">Enviar</a>
          <a href="#" (click)="deleteFromHistory(user)"> Excluir</a>
        </li>
      </ul>
    </div>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>